.fa-gem{
  font-size: 1rem;
}

/* Header */

.nav-bar {
  color: #7B66FF;
  font-family: 'Raleway', sans-serif;
}

/* Title */
.title-img {
 border-radius: 5%;
}

.title-big-heading {
  font-family: 'Raleway', sans-serif;
  color: #7B66FF;
}

/* Stays images */

.cabin {
  background-image: url('images/luxury-cabin.jpeg');
  background-position: 10%;
}

.jungle {
  background-image: url('images/luxury-jungle.jpeg');
  background-size: inherit;
}

.desert {
  background-image: url('images/luxury-desert.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Experiences */

.ex-samples {
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
  margin-bottom: 70px;
}

.exp {
  text-align: center;
}

.bd-placeholder-img {
  width: 140px;
  height: 140px;
  border-radius: 20px;
}

.exp-titles {
  padding-top: 20px;
}

/* Testimonials */